{% extends "base.html" %} {% load static %} {% block contenido %}

        <section id="banner_barbers">
            <div class="info-barbers">
                <img src="{{peluquero.foto.url}}" alt="">
                <!--img/Mauro/barber3.jpg barber3 -->
                <h2>"Apodo": {{peluquero.apodo}} </h2>
                <h3>"Nombre":{{peluquero.nombre}} </h3>
                <p>"descripcion":{{peluquero.descripcion}}</p>

            

            </div>
        </section>

        <section id="destacados">
            <h2>Trabajos Destacado</h2>
            <div class="imagenes">
                {% for corte  in cortes %}
                    <img class="corte" src="{{corte.foto.url}}" alt="">
        {% endfor %}
            </div>
        </section>
    </main>


{% endblock contenido %}


