{% extends "base.html" %} {% load static %} {% block contenido %}



<section>
    <div class="contenido-tienda">

        <div class="contenedor">
            <article>
                <h3>nombre:{{productos.nombre}}</h3>
                <h4>precio: ${{productos.precio}}</h4>
                <img class="prod" src="{{productos.foto.url}}" alt="">
                <p>Descripcion :{{productos.descripcion}}</p>


            </article>
        <input class="botons" type="submit" value="Agregar">
        </div>


    </div>


</section>



{% endblock contenido %}