{% extends "base.html" %} {% load static %} {% block contenido %}



<section>
    <div class="contenido-tienda">

        <div class="contenedor">
            <article>
                <h3>nombre:{{productos.nombre}}</h3>
                <h4>precio: ${{productos.precio}}</h4>
                <img class="prod" src="{{productos.foto.url}}" alt="">
                <p>Descripcion :{{productos.descripcion}}</p>


            </article>
        <input class="botons" type="submit" value="Agregar">
        </div>


    </div>


</section>

<!-- id_auto_inc = models.AutoField(primary_key=True)
    nombre = models.CharField(max_length=100)
    descripcion = models.TextField()
    precio = models.IntegerField()
    foto = models.ImageField(upload_to='media/productos', null=True)
    publicado = models.BooleanField(default=False)
    portada = models.BooleanField(default=False)
    categoria = models.ForeignKey(Categoria, on_delete=models.CASCADE) -->

{% endblock contenido %}