{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'dist/css/lightbox.css' %}"> {% endblock css %} {% block contenido %}

<section id="bienvenida">
    <h2>Galeria de Nuestras sucursales y servicios de Barberia</h2>
</section>
<br>
<section id="blog">

    <section class="filtros">

        <section>
            <form action="{% url 'FILTROCATEGORIA' %}" method="post">
                {% csrf_token %}
                <p>Filtro por categorias</p>

                <select name="cboCategoria" id="cboCategoria">
                    {% for item in categorias %}
                        <option>{{item.nombre}}</option>>
                    {% endfor %}
            </select>
                <input type="submit" value="Filtrar">
            </form>
        </section>
        <section>
            <form action="{% url 'BUSCARTXT' %}" method="post">
                {% csrf_token %}
                <p>busqueda por texto</p>
                <input type="text" name="txtTexto" id="txtTexto">
                <input type="submit" value="Buscar">
            </form>
        </section>

    </section>


    <div class="contenedor">

        {% for reg in peluqueros %}
        <article>
            <a href="{{reg.foto.url}}" data-lightbox="galeria" data-title="{{reg.descripcion}}">
                <img src="{{reg.foto.url}}" alt="">
            </a>
        </article>

        {% endfor %} {% for reg in sucursales %}
        <article>
            <a href="{{reg.foto.url}}" data-lightbox="galeria" data-title="{{reg.nombre}} - {{reg.correo}} - {{reg.horarios}} ">
                <img src="{{reg.foto.url}}" alt="">
            </a>
        </article>

        {% endfor %} {% for reg in productos %}
        <article>
            <a href="{{reg.foto.url}}" data-lightbox="galeria" data-title="{{reg.descripcion}}">
                <img src="{{reg.foto.url}}" alt="">
            </a>
        </article>

        {% endfor %} {% for reg in cortes %}
        <article>
            <a href="{{reg.foto.url}}" data-lightbox="galeria" data-title=" {{reg.nombre}}- {{reg.comentario}}">
                <img src="{{reg.foto.url}}" alt="">
            </a>
        </article>

        {% endfor %}

    </div>
    <div style="text-align: center; color: red;">
        {{cant}}
    </div>
</section>

{% endblock contenido %} {% block js %}
<script src="{% static 'dist/js/lightbox-plus-jquery.js' %}"></script>
{% endblock js %}

</body>

</html>