{% extends "base.html" %} 
{% load static %} 
{% block contenido %}



<section id="bienvenida">
    <h2>Bienvenido {{nombre}} a nuestro Club de Ladys Barber</h2>
    <H4>
        Queremos demostrar el bello arte de la barberia desde los ojos de nuestras bellas ladys barber
    </H4>

    <br><br>

    <h3>Servicios</h3>
    <p>Asesoría, corte y lavado de cabello. Incluye peinado con pomada a elección.</p>
    <p>Asesoría, arreglo de barba, crema de afeitar, navaja más after shave y aceite.</p>
    <p>Aplicación de toalla caliente y limpieza facial.</p>



</section>




<section id="info">
    <h3>Clientes felices con su cambio de look
    </h3>
    <div class="contenedor">

        <div class="info-barberia">
            <a href="{% static 'img/cortes_y_mas/corte1_c.jpg' %}" data-lightbox="cortes" data-title="Clásico Alex turner">
                <img src="{% static 'img/cortes_y_mas/corte1_c.jpg' %}" alt="">
            </a>
        </div>
        <div class="info-barberia">
            <a href="{% static 'img/cortes_y_mas/corte4.jpg' %}" data-lightbox="cortes" data-title="Vikingos">
                <img src="{% static  'img/cortes_y_mas/corte4.jpg' %}" alt="">
            </a>
        </div>
        <div class="info-barberia">
            <a href="{% static 'img/cortes_y_mas/corte3_b.jpg' %}" data-lightbox="cortes" data-title="Galán">
                <img src="{% static  'img/cortes_y_mas/corte3_b.jpg' %}" alt="">
            </a>
        </div>
        <div class="info-barberia">
            <a href="{% static  'img/cortes_y_mas/cortenino.jpg' %}" data-lightbox="cortes" data-title="Clásicos en ninos">
                <img src="{% static  'img/cortes_y_mas/cortenino.jpg' %}" alt="">
            </a>
        </div>
    </div>
</section>

<section id="Ultimos_prod">
    <h3>Ultimos productos </h3>

        <div class="contenido-tienda">
            {% for reg in productos %}

            <a href={{reg.nombre}}>
                <img class="prod" src="{{reg.foto.url}}" alt="">
                <h3>{{reg.nombre}}</h3>
            
            
            </a>

            {% endfor %}
        </div>

</section>




{% endblock contenido %}