{% extends "base.html" %} {% load static %} {% block contenido %}



<section id="bienvenida">
    <h2>Bienvenido {{user.first_name}} a nuestro Club de Ladys Barber</h2>
    <H4>
        Queremos demostrar el bello arte de la barberia desde los ojos de nuestras bellas ladys barber
    </H4>

    <br><br>

    <h3>Servicios</h3>
    <p>Asesoría, corte y lavado de cabello. Incluye peinado con pomada a elección.</p>
    <p>Asesoría, arreglo de barba, crema de afeitar, navaja más after shave y aceite.</p>
    <p>Aplicación de toalla caliente y limpieza facial.</p>



</section>

<section id="info">

    <div class="info-barberia">
        <h3>Clientes felices con su cambio de look</h3>
        {% for reg in cortes %}

        <a href="filtro_cate/Cortes">
            <img class="reg" src="{{reg.foto.url}}" alt=""> {% endfor %}
        </a>
    </div>

</section>



<section id="Ultimos_prod">
    <h3>Ultimos productos </h3>

    <div class="contenido-tienda">
        {% for reg in productos %}

        <a href="tienda/">
            <img class="prod" src="{{reg.foto.url}}" alt="">
            <h3>{{reg.nombre}}</h3>


        </a>

        {% endfor %}
    </div>



</section>

<section id="index_cate">
    <h3>Categorias </h3>

    <div class="index-cate">
        {% for reg in categoria %}
        <div>
            <a href="filtro_cate/{{reg.nombre}}">
                <img class="index-cate" src="{{reg.imagen.url}}" alt="">
                <h3>{{reg.nombre}}</h3>
            </a>
        </div>
        {% endfor %}
    </div>


</section>




{% endblock contenido %}