{% extends "base.html" %}
{% load static %}


{% block contenido %}
        <section id="bienvenida">
            
        
            <div class="contenedor">
                <h2>INFORMACIONES</h2>
                <br>
                <H4> Protocolo de seguridad COVID-19:</H3>
                <br>
                <H3>*Contamos con todas las medidas necesarias para tu atención</H3>
                <h3>*Si agendas una hora, debes ser puntual por favor</h3>
                <h3>*Uso de mascarilla obligatorio</h3>
                <h3>*Pasarás por una maquina de control de temperatura y desinfección de manos</h3>
                <h3>*Te recepcionará tu barbera de confianza;)</h3>
                
                
            </div>
            <div class="image">
                
                <img src="{% static 'img/cortes_y_mas/maquina.png' %}" alt="">

            </div>
            
            

        </section>

 {% endblock contenido %}
    