{% extends "base.html" %} 
{% load static %} 


{% block contenido %}


</div>
<section id="bienvenida">
    <h2>Quienes somos</h2>
    <p>Nuestro sueño empieza cuando muchas de nuestras barberas estudiaron el arte de la barbería, trabajando horas de sol a sol, es por esto que nace este proyecto en el cual nosotras nos comprometemos con nuestros clientes, no queremos limites en tiempos
        solo queremos ofrecer un servicio de calidad y que te sientas en familia. ven con nosotras y vive esta experiencia!!
    </p>
</section>
<section id="sucursal">

    <h3>Nuestras sucursales:</h3>
        
        <div class="contenedor">
        {% for suc in sucursales %}
        <article>
                <h3>{{suc.nombre}}</h3>
                <img class="sucu" src="{{suc.foto.url}}" alt="">
                <br>
                <a href="{% url 'SUCURSAL' suc.nombre %}"> ver sucursal</a>
            
        

            
        </article>

        {% endfor %}
    </div>
</section>



{% endblock contenido %}

