{% extends "base.html" %} 
{% load static %} 
{% block contenido %}

<section class="form-re">
    <form class="form-registro" action="{% url 'REGPELU' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="form-titutlo"> Ingreso Peluquero</h2>

        <div class="contenedor-input">
            <p>Nombre Peluquero :
                <input class="control" type="text" name="txtNombre" id="txtNombre" 
                placeholder=" ingrese nombre producto" minlength="3" maxlength="50" required pattern="[A-Za-z ]{3,50}" tittle="caracterres entre 3 y 50 letras">
            </p>

            <p>Apodo  :
                <input class="control" type="text" name="txtApodo" id="txtApodo" 
                placeholder=" ingrese nombre producto" minlength="3" maxlength="50" required pattern="[A-Za-z ]{3,50}" tittle="caracterres entre 3 y 50 letras">
            </p>


            <p>foto Peluquero
            <input type="file" name="txtImg" id="txtImg">
            </p>
            </br></br>

            <p>Sucursal
                <select name="cboSucursales" id="cboSucursales" required>
                {% for item in sucursales%}
                    <option >{{item.nombre}}</option>
                {% endfor %}
                
            </select>



            <p>Descripcion <br>
                <textarea name="txtDesc" id="" cols="30" rows="10"></textarea>
            </p>


       </br>
</br>
</br>
</br></br></br></br></br>



            
            <input class="botons" type="submit" value="registrar">
            <input class="botons" type="reset" value="Limpiar">


        </div>
        <h2>{{mensaje}}</h2>
    </form>

</section>



{% endblock contenido %}


</body>

</html>