{% extends "base.html" %} {% load static %} {% block contenido %}

<div class="contenido-tienda">
   
    {% for prod in productos %}
    <article>
        <a href="{% url 'FICHA' prod.nombre %}">
            <img class="prod" src="{{prod.foto.url}}" alt="">
        
        <h4>{{prod.nombre}}</h4>
        
        <h4>precio: ${{prod.precio}}</h4>
            <h4>ver ficha</h4>
            
        </a>
        

    </article>

    {% endfor %}
</div>


{% endblock contenido %} {% block js %}

<script src="https://kit.fontawesome.com/3e0e4dbacb.js" crossorigin="anonymous"></script>
<script src="dist/js/lightbox-plus-jquery.js"></script>




{% endblock js %}



</body>

</html>